# Environment

.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local

# Editors and IDEs

**/.vscode/settings.json

# Dependencies

.pnp
.pnp.js
node_modules

# Compilation & Source

*.tsbuildinfo

build
lib
lib-commonjs
release

**/*.cjs
**/*.js
**/*.map
**/*.mjs

!packages/eslint-config/index.js
!packages/scripts/bin/**/*.js
!packages/stylelint-config/index.js

# Testing

coverage

# Working Directory

working

# Misc

.eslintcache

debug.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
