*                           text=auto

*.bat                       text eol=lf
*.c                         text eol=lf
*.cc                        text eol=lf
*.cjs                       text eol=lf
*.cts                       text eol=lf
*.code-workspace            text eol=lf
*.cpp                       text eol=lf
*.cs                        text eol=lf
*.csproj                    text eol=lf
*.css                       text eol=lf
*.filters                   text eol=lf
*.h                         text eol=lf
*.hpp                       text eol=lf
*.html                      text eol=lf
*.iml                       text eol=lf
*.ini                       text eol=lf
*.java                      text eol=lf
*.js                        text eol=lf
*.jsx                       text eol=lf
*.json                      text eol=lf
*.lock                      text eol=lf
*.log                       text eol=lf
*.map                       text eol=lf
*.md                        text eol=lf
*.mjs                       text eol=lf
*.ps1                       text eol=lf
*.psm1                      text eol=lf
*.pubxml                    text eol=lf
*.py                        text eol=lf
*.rs                        text eol=lf
*.sh                        text eol=lf
*.sln                       text eol=lf
*.svg                       text eol=lf
*.toml                      text eol=lf
*.ts                        text eol=lf
*.tsx                       text eol=lf
*.txt                       text eol=lf
*.user                      text eol=lf
*.vcxproj                   text eol=lf
*.xaml                      text eol=lf
*.xml                       text eol=lf
*.yaml                      text eol=lf
*.yml                       text eol=lf

.clang-format               text eol=lf
.editorconfig               text eol=lf
.gitattributes              text eol=lf
.gitmodules                 text eol=lf
.gitignore                  text eol=lf
.npmignore                  text eol=lf
.npmrc                      text eol=lf
.prettierrc                 text eol=lf
.prettierignore             text eol=lf
.style.yapf                 text eol=lf
.yarnrc                     text eol=lf

LICENSE                     text eol=lf
makefile                    text eol=lf
