# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Environment

.env.development.local
.env.local
.env.production.local
.env.test.local

# Editors and IDEs

.vscode

# Dependencies

.pnp
.pnp.js
node_modules

# Compilation & Source

*.tsbuildinfo

build
dist
lib
lib-commonjs
release

!packages/global-types/lib

# Test

coverage

# Working Directory

working

# Misc

.DS_Store

.eslintcache
.stylelintcache

debug.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
