# Environment

.env.development.local
.env.local
.env.production.local
.env.test.local

# Editors and IDEs

.vscode

# Dependencies

.pnp
.pnp.js
node_modules

# Compilation & Source

*.tsbuildinfo

build
lib
lib-commonjs
release

!packages/global-types/lib

**/*.cjs
**/*.js
**/*.map
**/*.mjs

!packages/eslint-config/index.js
!packages/scripts/bin/**/*.js
!packages/stylelint-config/index.js

# Test

coverage

# Working Directory

working

# Misc

.DS_Store

.eslintcache

debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
