{
    "*.css": [
        "stylelint"
    ],
    "*.sass": [
        "stylelint"
    ],
    "*.scss": [
        "stylelint"
    ],
    "*.ts": [
        "eslint"
    ],
    "*.tsx": [
        "eslint"
    ]
}
