/* stylelint-disable-next-line selector-max-id */
#Window {
    display: grid;
    width: 100vw;
    height: 100vh;
}

/* stylelint-disable-next-line selector-max-id */
#TitleBar {
    display: grid;
    width: 100vw;
    height: 100vh;
}
